#Fichier de correspondance 
# initial request --> request rewrite
# $name$ sera remplace par le nom de la zone (ex: pop1) 
www.content.com     $pop.www.content.com.
content.com     $pop.content.com.
nuche.supervision.     $pop.supervision.
legaulois.ovh.      $pop.legaulois.ovh.
